<div class="container">
  <h1>Welcome to PhotogPimp</h1>
  <div class="row">
    <h2>I am:</h2>
    <button class="btn-large waves-effect waves-light deep-orange accent-1">A Photographer</button>
    <button class="btn-large waves-effect waves-light deep-orange accent-1">Desperate for a Photographer</button>
  </div>
</div>
