<div class="container">
  <h1>Welcome to PhotogPimp</h1>
  <div class="row">
    <h2>I am:</h2>
    <button class="btn-large waves-effect waves-light">A Photographer</button>
    <button class="btn-large waves-effect waves-light">Desperate for a Photographer</button>
  </div>

  <div class="row">
    <%= link_to "Users", users_path %>
  </div>
</div>
