<!DOCTYPE html>
<html>
<head>
  <title>PhotogPimp</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="nav-wrapper red darken-4">
      <a href="#" class="brand-logo">PhotogPimp</a>
    </div>
  </nav>
<%= yield %>

  <footer class="page-footer red darken-4">
    <div class="footer-copyright">
      <div class="container">
      © 2016 ML
      </div>
    </div>
  </footer>
</body>
</html>
